<section [ngClass]="{'loading': !listaTarefa.length}">

    <ul *ngIf="listaTarefa.length">
        <li *ngFor="let item of listaTarefa; index as i">
            <input type="checkbox" [(ngModel)]="item.checked">
            <input type="text" [(ngModel)]="item.task">
            
            <button (click)="deleteItemTarefa(i)">
                <img src="assets/icons/iconelixo.svg" alt="">
            </button>
        </li>
    </ul>
    
</section>

<app-todo-input-add-itens></app-todo-input-add-itens>
<app-todo-button-delete-all *ngIf="listaTarefa.length" (click)="deleteTudoLista()" ></app-todo-button-delete-all>